﻿    /*MasterTag Items*/

#MainHolder {
    padding-left: 230px;
    -webkit-transition: padding 1s; /* Safari */
    transition: all .5s ease-in-out;
}


.pageheader {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 28.25px;
}

    html {
        height: inherit !important;
    }

    body {
        position: relative;
        height: 100%;
        margin: 0px;
        width:100vw;
        overflow-x:hidden;
        padding:0px !important;
        min-width:950px;
    }

.Leftbar {
    width: 230px;
    min-height: 100vh;
    height: 100%;
    background: #3d464d;
    position: absolute;
    padding-top: 10px;
    display: block;
    z-index: 998;
    left: 0;
    top: 0;
    transition-delay: .5s;
}

#LeftBar {
    -webkit-transition: display .5s; /* Safari */
    transition: all .5s ease-in-out;
}

    .accordion {
        background-color: #3d464d;
        color: white;
        cursor: pointer;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: -10px;
        width: 230px;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active {
        background-color: rgba(0, 0, 0, 0.2);
    }

    /* Style the accordion panel. Note: hidden by default */
    .droppanel {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: -10px;
        margin-right: -10px;
        background-color: rgba(0, 0, 0, 0.2);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }



    .LeftNavIcon{
    background-color: #00b4ad;
    border-radius: 12px;
    padding: 2px;
    height: 42px;
    width: 42px !important;
}


    .Navbar {
        list-style-type: none;
        font-size: 14px;
        font-weight: 700;
        line-height: 18.06px;
        letter-spacing: .4px;
        font-family: 'Lato', sans-serif;
        color: white;
        padding: 5px;
        padding-left: 10px;
        margin-left: -10px;
        -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

        .Navbar img {
            margin-right: 10px;
            width: 30px;
        }



    #leftnavul {
        margin-left: -30px;
        padding-right: 10px;
    }

    #Username {
        font-size: 14px;
        font-weight: 700;
        line-height: 18.06px;
        letter-spacing: .5px;
        font-family: 'Lato', sans-serif;
        color: white;
        padding: 5px;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

        #Username img {
            width: 30px;
        }

    .leftnav {
        height: 50px;
        width: 230px;
        min-width: 100%;
        list-style-type: none;
        font-size: 14px;
        font-weight: 700;
        line-height: 18.06px;
        letter-spacing: .4px;
        font-family: 'Lato', sans-serif;
        color: white;
        padding: 5px;
        padding-left: 20px;
        margin-left: -10px;
        -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    .leftnavsub {
        height: 50px;
        width: 210px;
        min-width: 100%;
        list-style-type: none;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.29;
        letter-spacing: .5px;
        font-family: 'Lato', sans-serif;
        color: white;
        padding: 5px;
        padding-left: 20px;
        margin-left: -30px;
    }

        .leftnavsub img {
            width: 20px;
            margin-right: 5px;
            margin-left: -10px;
        }

.leftnav:hover {
    background-color: #ccc;
}
a:hover{
    text-decoration-line: none !important;
}

    .leftnav img {
        margin-right: 10px;
        width: 30px;
    }

    #pimlogo img {
        width: 200px;
        float: right;
        margin: 5px;
        margin-right: 20px;
        padding-bottom: 20px;
        animation: blink 1s;
        animation-iteration-count: infinite;
    }

    .rightarea {
        display: inline-block;
        margin-left:10px;
        position: relative;
        width: 100%;
        overflow: hidden;
        background: #f5f5f5;
    }



.WFSelector {
    width: 400px;
    height: 330px;
    padding: 24px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
    box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
    background-color: white;
    text-align: center;
    border: 1px rgb(221, 221, 221) solid;
    display: block;
    float: left;
    position: relative;
    margin: 30px 50px 20px 50px;
}


.WFSelector .btn {
    margin-right: 1em; /* remove this while use*/
    margin-bottom: 1em; /* remove this while use*/
    display: inline-block;
    outline: none;
    *zoom: 1;
    text-align: center;
    text-decoration: none;
    font-family: inherit;
    font-weight: 300;
    letter-spacing: 1px;
    vertical-align: middle;
    border: 1px solid;
    transition: all 0.2s ease;
    box-sizing: border-box;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
}
/* Radius */
.WFSelector .btn-radius {
    border-radius: 3px;
}


    .WFSelector .btn-large {
        margin: 5px;
        font-size: 14px;
        padding: 8px;
    }


.btn-blue {
    color: #4682B4;
    border-color: #4682B4;
}

    .btn-blue:hover {
        /*background: #4682B4;*/
        color: #4682B4;
        font-size:16px;
        padding:10px;
        
        border-color: #4682B4;
    }



.accordiondiv {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

        .active, .accordiondiv:hover {
            background-color: #ccc;
        }
          
            
            .panel {
                padding: 0 18px;
                display: none;
                background-color: white;
                overflow: hidden;
            }






#topcontroller {
    height:56px;
    background: white;
    width:102%;
    margin-left:-10px;
    padding-right:20px;
}

    #topcontroller button {
        cursor: pointer;
        border: none;
        background: none;
    }

.header-section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.hamburger-container {
    padding: 10px 14px 10px 14px;
    display: flex;
    align-items: center;
    width: 60px;
    /*border-right:1px solid #ccc;*/
    float: left;
}

    .hamburger-container .hamburger .hamburger-icon {
        width: 24px;
        height: 16px;
    }
    .hamburger-container .hamburger {
        padding: 8px 4px;
        border-radius: 8px;
    }


.logo__logo-img img{
    height: 32px;
    padding-left:8px;
    float:left;
}

.dropdown{
    float:left;
    border-right:none;
}


.profile {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 12px 18px;
    float: right;
    border-left: 1px solid #dddddd;
}

.profile img{
    padding-right:10px;
}





#PimLoginModal {
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 1000;
    display: block;
}

#Dashboard {
    width:100%;
    position: relative;
    display: block;
    height:90%;
}



#DashHolder {
    position: relative;
    float: left;
    width: 82vw;
    height: 92vh;
    background: #f5f5f5;
    transition: all .5s ease-in-out;
}





.SectionHeader {
    display: block;
    height: 55px;
    align-items: center;
    padding: 10px 24px;
    background-color: #f2f2f3;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 1px rgb(221, 221, 221) solid;
}

.SectionHeaderText {
    display:block;
    float:left;
    height:30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
    letter-spacing: .4px;
    font-family: 'Lato', sans-serif;
}




.btn{
    background:white;
}

.buttons {
    color: black;
    float: right;
    font-size: 12px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

    .buttons button {
        margin: 2px;
    }



.Modelbuttons {
    color: black;
    float: left;
    padding-left: 20%;
    
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    letter-spacing: .4px;
    font-family: 'Lato', sans-serif;
}

#CloudFlowHolder {
    background: white;
    min-width: 100%;
    position: relative;
    float: left;
    height: 88vh;
    max-height: 88vh;
    overflow:hidden;
    margin: 0px 2px 0px 2px;
    border: solid #ccc 1px;
}


#Results {
    overflow: scroll;
    height: calc(100% - 55px);
    background: #f2f2f3;
}

::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #333;
}




.SearchStyle {
    box-shadow: 0 0 15px green;
    padding: 3px 3px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid green;
}


#SearchBlackout {
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: .5;
    z-index: 999;
    display: none;
    visibility: hidden;
    position: absolute;
    top: 0%;
    left: 0%;
}


#SearchModel {
    padding:20px;
    display: none;
    visibility: hidden;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 1000;
    width:700px;
    background:white;
}




.options {
    height: 40px;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
    border-radius: 3px;
}

    .options div {
        margin: 10px 15px;
    }



.options2 {
    height: 40px;
    width: 320px;
    margin: 5px 0px 5px 0px;
    padding: 20px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 3px;
}

    .options2 div {
        margin: 10px 15px;
    }



input[type="radio"] {
    display: none;
}

    input[type="radio"] + label {
        color: black;
        font-family: Arial, sans-serif;
        font-size: 14px;
    }

        input[type="radio"] + label span {
            display: inline-block;
            width: 19px;
            height: 19px;
            margin: -1px 7px 0 0;
            vertical-align: middle;
            cursor: pointer;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }

        input[type="radio"] + label span {
            border: 2px solid #00b4ad;
            
        }

    input[type="radio"]:checked + label span {
        border: 2px solid white;
        background-color: #00b4ad;
        /*Need to adjust coloring*/
        -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 180, 173, 0.26);
        -moz-box-shadow: 0px 0px 3px 3px rgba(0, 180, 173, 0.26);
        box-shadow: 0px 0px 3px 3px rgba(0, 180, 173, 0.26);
    }

    input[type="radio"] + label span,
    input[type="radio"]:checked + label span {
        -webkit-transition: background-color 0.4s linear;
        -o-transition: background-color 0.4s linear;
        -moz-transition: background-color 0.4s linear;
        transition: background-color 0.4s linear;
    }


.filterselector {
    margin:10px;
    padding: 10px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #444444;
}

.filters {
    display: block;
    align-items: center;
    margin-top: 24px;
    flex-direction: column;
    width:250px;
}

    .filters .col.col-field {
        min-width: 200px;
        max-width: 200px;
    }
    .filters .filter-row {
        display: flex;
        align-items: center;
        width: 600px;
        margin: 10px;
        margin-left:0px;
    }
    .filters .col {
        padding-right: 10px;
    }
        .filters .col.col-filter {
            min-width: 200px;
            max-width: 200px;
        }
    .filters .filter-row .col-value {
        flex-grow: 1;
        max-width: none;
    }
    .filters .col.col-clear {
        display: flex;
        align-items: center;
        min-width: 18px;
        max-width: 18px;
    }

.filters-header {
    margin-left:20px;
}


.filtersTable {
    width: 180px;
    padding: 10px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #444444;
}
    .filtersTable:focus {
        outline: #00b4ad auto 5px;
    }
input.filtersTable[type=text] {
    height:41px;
}


.add-filter {
    display: flex;
    align-items: center;
    color: #00b4ad;
    background: #e0f6f5;
    padding: 0 10px 0 4px;
    border: solid 1px #b3e9e6;
    border-radius: 12px;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

.tm-btn.apply {
    margin-right: 28px;
    color: white;
    background: #00b4ad;
}

.tm-btn {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border: solid 1px #cccccc;
    border-radius: 7px;
}

#FilterApplyButtons{
    float:right;
    margin:10px;
}

.headers {
    border-bottom: 1px solid #d9d9da;
    outline: 0;
    
}

.cell {
    width:200px;
    padding: 10px 8px 10px 16px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}


#MainData {
    width: 100%;
    overflow-x: scroll;
}


#MainData tr {
    cursor: pointer;
    border-bottom: 1px solid #f2f2f3;
    outline: 0;
    background: white;
}

.dataset:hover {
    background: #e0f6f5;
}




/* The Modal */
.modal {
    margin-left: 230px; /* For left nav bar spacing*/
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0);  Fallback color */
    /* background-color: rgba(0,0,0,0.4);  Black w/ opacity */
}



#mymodal {
    height: 100vh;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.closebutton {
    color: black;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

    .closebutton:hover,
    .closebutton:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.ModalPrevNext {
    float: right;
    font-size: 28px;
    margin-left: 25%;
}

    .ModalPrevNext:hover,
    .ModalPrevNext:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


.modal-header {
    padding: 2px 16px;
    background-color: #f5f5f5;
    color: black;
    width: 100%;
min-height:70px;
}

#modal-header-contents {
    width: 80%;
}

.modal-body {
    padding: 2px 16px;
    height: 80vh;
    width: 100vw;
    overflow-y: scroll;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #f5f5f5;
    color: black;
    height: 10vh;
}

    .modal label {
        width: 130px;
        line-height: 2.0;
    }

    .modal input[type="text"] {
        width: 174px;
        padding: 1px;
        margin: 2px;
        height: 26px;
        margin-left: 0px;
        font-size: 14px;
    }

    .modal input[type="date"] {
        width: 174px;
        height: 26px;
        padding: 1px;
        border: 1px;
        margin: 1px;
    }


.leftforms {
    float: left;
    width: 320px;
    margin-left: 0px;
}

.bottomforms {
    float: left;
    width: 320px;
    margin-left: 0px;
    clear: both
}

.rightforms {
    float: left;
    width: 320px;
    margin-left: 0px;
}

#imagename {
    color: black;
    font-size: 24px;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
}





/* Line Item modal - right side*/
.modal-right {
    margin-left: 50%; /* For left nav bar spacing*/
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    right: 0;
    top: 0;
    width: 50%; /* 1/2 width */
    height: 100%; /* Full height */
    float: right;
    border-radius: 5px;
    /* background-color: rgb(0,0,0);  Fallback color */
    /* background-color: rgba(0,0,0,0.4);  Black w/ opacity */
}



/* Modal Content */
.modal-content-right {
    position: relative;
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    min-width: 100%;
    height: 100%;
    float: right;
    -webkit-box-shadow: 0 0 30px black;
    -moz-box-shadow: 0 0 30px black;
    box-shadow: 0 0 30px black;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: RightSlide;
    animation-duration: 0.4s
}



/* Add Animation */
@-webkit-keyframes RightSlide {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

@keyframes RightSlide {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}





/* The Close Button */
.closebutton-right {
    color: black;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.closebutton-right:hover,
.closebutton-right:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.ModalPrevNext-right {
    float: right;
    font-size: 28px;
    margin-left: 25%;
}

.ModalPrevNext-right:hover,
.ModalPrevNext-right:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#modal-header-contents-right {
    padding: 2px 16px;
    width: 100%;
    background: #f5f5f5;
    min-height: 70px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-body-right {
    padding: 2px 16px;
    height: calc(100% - 100px);
    width: 100%;
    overflow-y: scroll;
}

.modal-footer-right {
    padding: 2px 16px;
    background-color: #f5f5f5;
    color: black;
    height: 10vh;
}

.modal-right label {
    width: 130px;
    line-height: 2.5;
}

.modal-right input[type="text"] {
    width: 174px;
    padding: 1px;
    margin: 2px;
    height: 26px;
    margin-left: 0px;
    font-size: 14px;
}

.modal-right select {
    width: 174px;
    padding: 1px;
    margin: 2px;
    height: 26px;
    margin-left: 0px;
    font-size: 14px;
}

.modal-right input[type="date"] {
    width: 174px;
    height: 26px;
    padding: 1px;
    border: 1px;
    margin: 1px;
}


#LineName {
    color: black;
    font-size: 18px;
    font-weight:bold;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    display:inline-block;
}

.LineName {
    color: black;
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin-left: 30px;
    margin-top: -30px;
    width:100%;
}

#ModalButtonsTop {
    width: 100%;
}

    #ModalButtonsTop button{
        float:right;
    }
    
    
    #BulkUpdateList {
        width: 100%;
        margin-left: 10px;
        overflow-y: scroll;
        max-height: 200px;
    }

label {
    font-weight: 500 !important;
}


.grouped{
    float:left;
    width: 370px;
    display: inline-block;
    position:relative;
    min-height:50px;
    line-height: 2.5;
}

.bold {
    font-weight: 900 !important;
    margin-top: 10px;
}

#ModalJobs-right{
    width: 100%;
}

.labelHeader{
    width: 100% !important;
}


.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.groupsmall {
    line-height: 1;
    margin:auto;
    min-height: 22px !important;
    margin-bottom:20px !important;
}







#QuickSearchObjects {
    display: inline-block;
    color: black;
    float: right;
    font-size: 12px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 7px;
}
#QuickSearchObjects span{
    margin:5px;
}


.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: none;
    
    transition: all 0.3s;
    z-index: 1100;
}

    .modal-window:target {
        opacity: 1;
        pointer-events: auto;
    }

    .modal-window > div {
        width: 800px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 2em;
        background: #ffffff;
        color: #333333;
        z-index: 1101;
        border: 1px solid black;
        max-height: 625px;
        overflow: scroll;
    }

    .modal-window header {
        font-weight: bold;
    }

    .modal-window h1 {
        font-size: 150%;
        margin: 0 0 15px;
        color: #333333;
    }

.modal-close {
    color: #000;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 100%;
    text-decoration: none;
    padding-right: 30px;
}

    .modal-close:hover {
        color: #000;
        cursor: pointer;
    }


.Selected {
    background: #e0f6f5 !important;
}

.LateItem{
    background: #ffcccc !important;
}

#fullTable th {
    background: white;
    margin: 5px;
    padding: 10px;
    border-bottom: 1px #c0c0c0 solid;
}

#fullTable td {
    padding: 10px;
}



#fullTable tr:nth-child(odd) {
    background: #F8F8F8;
}

#fullTable tr:nth-child(even) {
    background: #fff;
}
/* Bulk Update modal - right side*/
.modal-right-small {
    margin-left: 80%; /* For left nav bar spacing*/
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    right: 0;
    top: 0;
    width: 20%;
    height: 100%; /* Full height */
    float: right;
    border-radius: 5px;
    min-width: 400px;
    /* background-color: rgb(0,0,0);  Fallback color */
    /* background-color: rgba(0,0,0,0.4);  Black w/ opacity */
}



/* Modal Content */
.modal-content-right-small {
    position: relative;
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    min-width: 100%;
    height: 100%;
    float: right;
    -webkit-box-shadow: 0 0 30px black;
    -moz-box-shadow: 0 0 30px black;
    box-shadow: 0 0 30px black;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: RightSlide;
    animation-duration: 0.4s
}



/* Add Animation */
@-webkit-keyframes RightSlide {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

@keyframes RightSlide {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}


#ExportCSV:hover{
    cursor: pointer;
}


/* The Close Button */
.closebutton-right-small {
    color: black;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

    .closebutton-right-small:hover,
    .closebutton-right-small:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.modal-right-small label {
    width: 130px;
    line-height: 2.5;
    margin-left:10px;
}

.modal-right-small input[type="text"] {
    width: 174px;
    padding: 1px;
    margin: 2px;
    height: 26px;
    margin-left: 0px;
    font-size: 14px;
}

.modal-right-small select {
    width: 174px;
    padding: 1px;
    margin: 2px;
    height: 26px;
    margin-left: 0px;
    font-size: 14px;
}

.modal-right-small input[type="date"] {
    width: 174px;
    height: 26px;
    padding: 1px;
    border: 1px;
    margin: 1px;
}




.loader,
.loader:before,
.loader:after {
    background: #353535;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #353535;
    text-indent: -9999em;
    margin: 10% 40% auto 40%;
    position: absolute;
    display: block;
    z-index:1001;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

    .loader:before,
    .loader:after {
        position: absolute;
        top: 0;
        content: '';
    }

    .loader:before {
        left: -1.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .loader:after {
        left: 1.5em;
    }

@-webkit-keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}



#loadingblackout {
    width:110%;
    height:110%;
    overflow:hidden;
    opacity:.4;
    background-color:white;
    z-index:1000;
    position:fixed;
    left: 0;
    top:0;
}



@media only screen and (max-width: 1250px) {
    #MainHolder {
        padding-left: 10px;
    }
    #LeftBar {
        display: none;
    }

    #DashHolder{
        width:100%;
    }

    .hamburger-container{
        display:none;
    }
    .SectionHeader {
        display: block;
        height: 95px;
        align-items: center;
    }
}
